@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);

@import "tailwindcss";

.serif {
    font-family: 'Instrument Serif';
}

html, body {
    max-height: 100vh;
    overflow-y: auto;
    @apply [&::-webkit-scrollbar]:w-2
           [&::-webkit-scrollbar-track]:bg-zinc-100
           [&::-webkit-scrollbar-thumb]:rounded-full
           [&::-webkit-scrollbar-thumb]:bg-zinc-300
           dark:[&::-webkit-scrollbar-track]:bg-zinc-400
           dark:[&::-webkit-scrollbar-thumb]:bg-zinc-500;
}
